{% extends "base.html" %}

{% block title %} login {% endblock %}

{% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}


{% block content %}
<form action="/register" method="post">
    <h2> Sign Up </h2>
    <p>Fill in the Fields Below </p>
    <input type="email" name="email" placeholder="Email" autofocus required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Submit</button>
</form>
{% endblock %}
