{% extends "base.html" %}

{% block title %} Register {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sign_up.css') }}">
{% endblock %}


{% block content %}
 <form action="register">
    <h2>Creat New Accaunt</h2>
    <p>Fill in the Fields below the register </p>
    <input type="text" name="username" placeholder="username" autofocus required>
    <input type= "email" name=" email" placeholder="email" autofocus required>
    <input type= "password" name="password" placeholder="password" autofocus required>
    <input type="password" name="password_confirmaion " placeholder="password confirmation" autofocus required>
    <button type="submit">submit</button>
 </form>

{% endblock %}