{% extends "base.html" %}
{% block content %}

 {%if errors%} 
  <ul>
   {%for error in errors%}
     <li>{{error}}</li>
   {%endfor%}
  </ul>
 {%endif%}

   <form action= "{{url_for('register')}}" method= "POST">
    <input type="text" name = "username" placeholder="enter your name">
    <input type="email" name="email" placeholder="enter your email">
    <input type="password"  name="password" placeholder="enter your password">
    <input type="password"  name="password_confirmation" placeholder="confirm_password">
    <button type="submit">submit</button>
   </form>

{% endblock %}